<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<div class="w-50 m-auto">
  <h2>游놓 Bienvenido a LA NASA 游놓</h2>
  <form action="http://localhost:3001/usuario" method="POST">
    <div class="row my-5 border rounded p-5">
      <h6 class="text-center mb-5 col-12">Registrese para poder pasar a evaluaci칩n</h6>
      <div class="col col-4">Email:</div>
      <div class="col col-8"><input type="text" class="form-control" id="email" name="email"></div>
      <div class="col col-4">Nombre:</div>
      <div class="col col-8"><input type="text" class="form-control" id="nombre" name="nombre"></div>
      <div class="col col-4">Contrase침a:</div>
      <div class="col col-8"><input type="password" class="form-control" id="password" name="password"></div>
      <div class="col-12 mt-5">
        <button class="bg-light rounded text-success m-auto">Registrarme</button>
      </div>
    </div>
  </form>
</div>


<style>
  body {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }

  td,
  th {
    color: white;
  }

  .col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
</style>